@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  font: 5mm/2 'Noto Sans', 'Noto Sans TC', sans-serif;
  margin-top: 3mm;
  min-width: 400px;
}

* {
  outline: 0 !important;
}

i {
  text-align: center;
  vertical-align: middle;
}

button > i {
  font-size: 8mm !important;
}

samp {
  font: inherit;
}

/*
footer {
  padding: 1mm;
  font-size: 1mm;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

#mood, #mood-bad, #no-found, #num-error, #add-error {
  display: none;
}
*/

#mood, #mood-bad, #history > i {
  font-size: 30mm;
}
